<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Simple Social Hello World">
    <Require feature="opensocial-1.0"/>
    <Require feature="osapi"/>
    <Require feature="dynamic-height"/>
    <Require feature="minimessage"/>
</ModulePrefs>
<UserPref name="work_location" display_name="Where do you work" datatype="string" default_value="" required="false" />
<UserPref name="participant" display_name="Participating in challenge" datatype="bool" default_value="" required="false" />
<UserPref name="defaultModeOfTransportation" display_name="How do you get to work?" datatype="enum" default_value="" required="false">
      <EnumValue value="bicycle" display_value="Bicycle (15 points)" />
      <EnumValue value="bus" display_value="Bus (10 points)" />
      <EnumValue value="car" display_value="Car (1 points)" />
      <EnumValue value="carpool" display_value="Carpool (5 points)" />
      <EnumValue value="walk" display_value="Walk (20 points)" />
      <EnumValue value="train" display_value="Train (10 points)" />
</UserPref>
<Content type="html" view="home,canvas">
  <![CDATA[
      <script  type="text/javascript">
      function init() {
        osapi.people.getViewer().execute(function(viewerData) {
           if (!viewerData.error) {
              var viewerDiv = document.getElementById('current_user_id'),
                  viewerThumbnailImg = document.getElementById('viewerThumbnailImg');
              viewerDiv.innerHTML += viewerData.displayName;
              viewerThumbnailImg.attributes.getNamedItem("src").nodeValue=viewerData.thumbnailUrl;
              gadgets.window.adjustHeight();
           };
        });

        osapi.people.getViewerFriends().execute(function(viewerFriends) {
           if (!viewerFriends.error){
            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = viewerFriends.list.length;
           }
        });

        var workLocationSpan = document.getElementById('workLocationSpan'),
            prefs = new gadgets.Prefs(),
            yourWorkLocation = prefs.getString("work_location");
            workLocationSpan.innerHTML = yourWorkLocation;

      }

      function postActivity(){
        var params = {activity: {title:"Hello Jive!",
                              body:"Posting to the stream is easy!"}
                  };
         osapi.activities.create(params).execute(myCallback);
      }

      function myCallback(){
        var msg = new gadgets.MiniMessage(__MODULE_ID__);
            msg.createDismissibleMessage("You just posted an activity!");
            gadgets.window.adjustHeight();
      }


      gadgets.util.registerOnLoadHandler(init);
      </script>

      <p>Your display name is: <span id="current_user_id"></span></p>
      <p>Your thumbnail is: <img id="viewerThumbnailImg" src=""></img></p>
      <p>You have <span id='result'></span> friends.</p>
      <p>You work at: <span id='workLocationSpan'></span></p>
      <p><input type="button" value="Post Activity" onclick="postActivity(); return true;"/></p>

      ]]>
</Content>
</Module>